* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../pics/bscbgsvg.svg');
}

#header {
    margin-left: calc(100% * 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

#header h3 {
    font-family: 'Comfortaa', cursive;
    font-size: calc(100% * 5);
    color: white;
}

#header h3 p {
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    color: gray;
}

#header h3 button {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

#header img {
    width: calc(100% * 0.5);
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.5);
    backdrop-filter: blur(3px);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    /*Add this*/
}

nav h3 {
    color: rgb(26, 26, 26);
    font-size: calc(100% * 1);
    font-family: 'Comfortaa', cursive;
}

table {

    width: calc(100% * 0.8);
    text-align: center;
    border-collapse: separate !important;
    border-spacing: 0 1em;
}

table tr {
    /* From https://css.glass */
    background: rgba(26, 26, 26, 0.56);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(13, 13, 13, 0.27);
}

table tr td {
    padding: 15px;
    font-family: 'Comfortaa', cursive;
    color: rgb(231, 231, 231);
    font-size: 12px;
    text-align: center;

}

#stdh {
    font-family: 'Comfortaa', cursive;
    color: rgb(231, 231, 231);
    font-size: 32px;

}

table tr td img {
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 40px;
}

#teacherscontainer {
    /* From https://css.glass */
    background: rgba(0, 133, 255, 0.1);
    border: 1px solid rgba(0, 133, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    max-width: calc(100% * 0.8);
    margin-left: calc(100% * 0.1);
    height: calc(auto + 50px);
    display: grid;
    grid-template-columns: auto;
    margin-top: 140px;
}

.teachersitems {
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.teachersitems img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.teachersitems div h2 {
    color: rgb(255, 255, 255);
    font-size: calc(100% * 1.4);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.teachersitems div h3 {
    color: gray;
    font-size: calc(100% * 0.9);
    font-family: 'Comfortaa', cursive;
}

#bscscontainer {
    /* From https://css.glass */
    background: rgba(196, 196, 196, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(0, 133, 255, 0.27);
    width: calc(100% * 0.94);
    margin-left: calc(100% * 0.03);
    min-height: 1000px;
    margin-top: 100px;
    padding-top: 20px;
    cursor: pointer;
}


@media(max-width: 850px) {
    #header h3 {
        font-family: 'Comfortaa', cursive;
        font-size: calc(100% * 2);
    }

    #header img {
        width: 200px;
        height: 200px;
    }

    #bscscontainer {
        grid-template-columns: auto auto;
    }


    #header h3 p {
        font-size: 15px;
    }

    .teachersitems div h2 {
        font-size: calc(100% * 1);

    }

    .teachersitems div h3 {
        font-size: calc(100% * 0.6);
    }

    table tr td {
        font-family: 'Comfortaa', cursive;
        color: rgb(231, 231, 231);
        font-size: 9px;

    }

    table tr td img {
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }
}


#eventcontain{
    margin-top: 100px;
    width: calc(100% * 0.8);
    margin-left: calc(100% * 0.1);
}

#eventitems{
    width: 100%;
    min-height: 100px;
    background-color: white;
    border-radius: 15px;
}