* {
    margin: 0px;
    padding: 0px;
}

#about {
    height: 500px;
    width: 100%;
    background-image: url('pics/caspic1.jpg');
    background-size: cover;
    background-position: 0% 0%;
    background-size: 100% 100%;
}

#aboutsh {
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.425);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about #abouttitle h2 {
    font-size: 50px;
    color: white;
    font-family: 'Comfortaa', cursive;
}

#about #abouttitle h4 {
    margin-top: 10px;
    font-size: 15px;
    color: rgb(236, 233, 233);
    font-family: 'Comfortaa', cursive;
}

#about #aboutlogo img {
    width: 250px;
    height: 250px;
    border-radius: 200px;
    border: 2px solid black;
}

#c {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #3d3dd3;
    color: white;
}


#aboutlogo {
    position: relative;
    /* background: linear-gradient(0deg, #330033, #262626); */
    border-radius: 200px;
}

#aboutlogo:before,
#aboutlogo:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    /* animation: animate 20s linear infinite; */
    border-radius: 200px;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    /* Ensure div tag stays behind content; -999 might work, too. */
}

body {
    background-image: url('pics/indexbg.svg');
}

#coursescontainer {
    /* From https://css.glass */
    background: rgba(30, 30, 30, 0.56);
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(30, 30, 30, 0.33);
    max-width: calc(100% * 0.6);
    min-height: 50px;
    margin-left: calc(100% * 0.06);
    margin-top: 0px;
    padding: 20px;
    display: table;
}

#coursescontainer table tr td {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    margin-left: 5px;
}

.c21, .c22 {
    cursor: pointer;
    margin-top: 30px;
    color: rgba(199, 199, 199, 0.877);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: rgba(39, 39, 39, 0.9) solid 1px;
}

.c1 {
    color: rgb(235, 235, 235);
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
}

hr {
    width: 100%;
    position: absolute;
}

#collegedetail {
    padding: 10px;
    width: calc(100% * 0.7);
    min-height: 150px;
    /* From https://css.glass */
    background: rgba(211, 211, 211, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);
    border: 1px solid rgba(211, 211, 211, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -60px;
}

#collegedetail p {
    margin-left: 15px;
    line-height: 1.3;

    color: rgba(250, 226, 226, 0.877);

}

#collegedetail p span {
    font-size: 22px;
}

#collegedetail img {
    border-radius: 160px;
    align-self: center;
    width: calc(100% * 0.33);
    height: calc(100% * 0.33);
}


.detail h1 {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: rgb(42, 42, 219);
}

.detail h1:hover {
    color: #330033;
}

.detail h3 {
    font-size: 25px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.detail h4 {
    font-size: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

#eventcontainer {
    /* From https://css.glass */
    background: rgba(30, 30, 30, 0.56);
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(30, 30, 30, 0.33);
    max-width: calc(100% * 0.75);
    min-height: 50px;
    margin-left: calc(100% * 0.06);
    display: table;
    cursor: pointer;
}

#eventcontainer img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
}

.viewbtn {
    background-color: rebeccapurple;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
}

.leftdetail {
    cursor: pointer;
    margin-top: 110px;
    max-width: calc(100% * 0.6);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: calc(100% * 0.05);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.83);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}
/* 
nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.5);
    backdrop-filter: blur(3px);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    /*Add this*/
/* }
@charset "UTF-8";
/* 
$content-width will be the max width of the content within the navigation bar. 
$breakpoint determines at which width the media query breakpoint will take effect.
*/

  nav {
    float: right;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: left;
    position: relative;
  }
  nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: #000000;
    text-decoration: none;
    text-decoration: none;
    /*
    The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
    */
  }
  nav ul li a:hover {
    background-color: rgba(240, 240, 240, 0.205);
    color: #ffffff;
    border: 0px solid white;
  }
  nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
  }
  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }
  
  .nav-dropdown {
    position: absolute;
    z-index: 1;
    /* Guarantees that the dropdown will display on top of any content. */
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: none;
  }
  
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    /* background: #fff; */
    height: 70px;
    width: 70px;
  }
  
  @media only screen and (max-width: 800px) {
    .nav-mobile {
      display: block;
    }
  
    nav {
      width: 100%;
      padding: 70px 0 15px;
    }
    nav ul {
      display: none;
    }
    nav ul li {
      float: none;
    }
    nav ul li a {
      padding: 15px;
      line-height: 20px;
    }
    nav ul li ul li a {
      padding-left: 30px;
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #463f3f;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
  
  @media screen and (min-width: 800px) {
    .nav-list {
      display: block !important;
    }
  }
  /* 
  .navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
  */
  .navigation {
    background-color: rgba(240, 240, 240, 0.5);
    backdrop-filter: blur(3px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    /* background: #ffffff; */
  }
  
  /*
  .nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
  */
  .nav-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
  }
  .brand a,
  .brand a:visited {
    color: #463f3f;
    text-decoration: none;
  }
  
nav h3 {
    color: rgb(0, 0, 0);
    font-size: calc(100% * 1);
    font-family: 'Comfortaa', cursive;
} 

#principledetail {
    margin-top: 100px;
    padding: 10px;
    width: calc(100% * 0.5);
    min-height: 50px;
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(211, 211, 211, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

#principledetail img {
    border-radius: 300px;
    width: calc(100% * 0.35);
    height: calc(100% * 0.3);

}

#principledetail div {
    margin-left: calc(100% * 0.1);
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#principledetail div h3 {
    color: black;
    font-size: calc(100% * 1.7);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#principledetail div h2 {
    color: gray;
    font-size: calc(100% * 1.1);
    font-family: 'Comfortaa', cursive;
}

.rightdetail {
    cursor: pointer;
    margin-top: 110px;
    width: calc(100% * 0.6);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: calc(100% * 0.35);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.83);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

#staffhead {
    margin-top: 90px;
    margin-left: calc(100% * 0.06);
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: table;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#staffs {
    margin-left: calc(100% * 0.06);
    width: calc(100% * 0.8);
}

#staffviewall {
    cursor: pointer;
    width: calc(100% * 0.96);
    height: 30px;
    color: whitesmoke;
    background: rgba(211, 211, 211, 0.21);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.26);
    -webkit-backdrop-filter: blur(13.3px);
    backdrop-filter: blur(13.3px);
    border: 1px solid rgba(211, 211, 211, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.staffcontainer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    /* From https://css.glass */
    background: rgba(13, 13, 13, 0.25);
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(13, 13, 13, 0.27);
}

.staffitems {
    /* From https://css.glass */
    background: rgba(30, 30, 30, 0.56);
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(30, 30, 30, 0.33);
    margin: 10px;
    min-height: 30px;
    max-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.staffitems img {
    border-radius: 300px;
    width: 50px;
    height: 50px;

}

.staffitems div {
    margin-left: calc(100% * 0.04);
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.staffitems div h3 {
    color: black;
    font-size: calc(100% * 1.4);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.staffitems div h2 {
    color: gray;
    font-size: calc(100% * 0.9);
    font-family: 'Comfortaa', cursive;
}

.stretch {
    width: 100%;
    height: 100%;
}


@media(max-width: 850px) {

    #eventcontainer img {
        width: 80px;
        height: 80px;
    }

    #collegedetail {
        flex-direction: column;
    }

    #collegedetail p {
        font-size: calc(100% * 0.8);
    }

    #about #abouttitle h2 {
        font-size: 35px;
        color: white;
        font-family: 'Comfortaa', cursive;
    }

    #about #abouttitle h4 {
        font-size: 12px;
        color: rgb(236, 233, 233);
        font-family: 'Comfortaa', cursive;
    }

    #c {
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #about #aboutlogo img {
        width: 180px;
        height: 180px;
    }

    .staffcontainer {
        grid-template-columns: auto auto;
    }
/* 
    nav {
        height: 60px;
    }

    nav h3 {
        font-size: calc(100% * 1);
    } */

    .detail h4 {
        font-size: 12px;
    }

    .detail h1 {
        margin-top: 20px;
        font-size: 25px;
    }

    #principledetail div h3 {
        font-size: calc(100% * 1.1);
    }

    #principledetail div h2 {
        font-size: calc(100% * 0.9);
    }

    .staffitems div h3 {
        font-size: calc(100% * 1.1);
    }

    .staffitems div h2 {
        font-size: calc(100% * 0.9);
    }

    .staffitems img {
        border-radius: 300px;
        width: 30px;
        height: 30px;

    }
}

/* Style the header */
.header {
    padding: 10px 16px;
    background: #555;
    color: #ffffff;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 102px;
}
